.customTextArea {
  color: #d6d6d6;
  width: 100%;
  border: 1px solid #d6d6d6;
  border-radius: 24px;
  height: 100px;
  outline: none;
  box-sizing: border-box;
  padding: 10px 20px;
  resize: none;
  background-color: transparent;

  &:focus {
    border: 1px solid #5708cd;
    color: #5708cd;
  }
}
