.customTextInput{
    color: #D6D6D6;
    width: 100%;
    border: 1px solid #D6D6D6;
    border-radius: 24px;
    height: 56px;
    outline: none;
    box-sizing: border-box;
    padding: 10px 20px;
    background-color: white;

    &:focus{
        border: 1px solid #5708CD;
        color: #5708CD;
    }
}